<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tema5</title>
</head>
<body>
<div th:each ="customer: ${allCustomers}">
  <ul>
    <li th:text="${customer.getUsername()}"></li>
  </ul>
</div>

<div th:each ="customer: ${customerById}">
  <ul>
    <li th:text="${customer.getUsername()}"></li>
  </ul>
</div>

<div th:each ="customer: ${filterCustomers}">
  <ul>
    <li th:text="${customer.getUsername() + ' ' + customer.getCity() + ' ' + customer.getCountry()}"></li>
  </ul>
</div>

</body>
</html>